<!-- Views/Clients/Delete.cshtml -->
@model PousadaVidaPlena.Models.Employee

@{
    ViewData["Title"] = "Deletar Funcionário";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Tem certeza que deseja deletar este Funcionário?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <!-- Adicione outros campos conforme necessário -->
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
