@model PousadaVidaPlena.Models.Reservation

@{
    ViewData["Title"] = "Detalhes da Reserva";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Detalhes da Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationAmount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <form asp-action="GeneratePdf" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-info">Download Reserva</button>
        </form>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>
